.bannerDetails{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;    
}


.contenedor-btn-fav {
    background-color: aliceblue;
    width: 40px;
    height: 40px; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
  }
  
  .icon-fav {
    font-size: 25px;
  }
  

  .star-rating {
    font-size: 24px;
  }
  
  .star {
    color: gold;
    margin-right: 2px;
  }

  .año-duracion{
    display: flex;
  }
  

